#Exploratory Data Analysis(EDA)
##Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt  # For visualizations

##Importing Data

In [2]:
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris (1).csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['iris.csv'])) # Dataset is now stored in a Pandas Dataframe

In [4]:
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Renaming columns names

In [5]:
df = df.rename(columns={'old_column_name': 'new_column_name' }) # renaming column names

## Checking and Removing Null Values

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.isnull().sum() #  if there are any null values present in our dataset

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [8]:
df.dropna(inplace=True) #  drop these null values

In [9]:
df.shape # return total number of rows and columns

(150, 5)

## Viewing samples of Dataset

In [10]:
df.head() # returns first five observations of the data

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
df.tail() # returns last five observations

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

## Describing the Dataset

In [12]:
df.describe() # returns the count, mean, standard deviation, minimum and maximum values and the quantiles of the data.

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:
df.describe(include=['object']) #statistics for categorical variable, the include=[‘object’] argument is used.

       variety
count      150
unique       3
top     Setosa
freq        50

## Finding Unique Values in Column

In [14]:
df.variety.unique() # return unique value of column

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [15]:
df.variety.value_counts() # vote count of each variety score

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

## Correlation

In [16]:
df.corr()

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      1.000000    -0.117570      0.871754     0.817941
sepal.width      -0.117570     1.000000     -0.428440    -0.366126
petal.length      0.871754    -0.428440      1.000000     0.962865
petal.width       0.817941    -0.366126      0.962865     1.000000